body {
    font-family: Arial, Helvetica, sans-serif;
}

#banner img {
    width: 100%;
    margin-top: -1.5em;
}

#Arizonaimg {
    width: 100%;
    margin-top: 2.5em;
    margin-bottom: -1em;
}

#Utahimg {
    width: 100%;
    margin-bottom: -1em;
}

section {
    padding: 15px;
}

img {
    max-width: 100%;
}

.logo {
    float: left;
    margin-top: -1.5em;
    margin-left: 1.5em;
    background-color: white;
    border: 2px solid dimgrey;
    position: relative;
}

#content {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    margin: center;
}

.leftcol,
.righttcol {
    width: 48%;
    flex: 1 0 15em;
    margin: .5em;
}

nav {
    color: #F05400;
    background-color: dimgrey;
    margin-top: 1.5em;
}

nav > ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    line-height: 3em;
}

nav li {
    flex: 1 1 8em;
}

nav a {
    display: block;
    text-align: center;
}

nav a:link,
nav a:visited {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: white;
    background-color: #F05400;
}

p {
    line-height: 15px;
    margin: 5px;
}

#top-row,
#middle-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#top-row {
    text-align: center;
    display: flex;
    align-content: center;
}

#middle-row {
    text-align: center;
    background-color: dimgrey;
}

.Utah {
    background-color: dimgrey;
    padding: 10px;
    margin-top: 2.5em;
}

h1,
h2,
h4,
h5,
h6 {
    color: #F05400;
    font-family: Georgia, Times, serif;
    margin-bottom: 5px;
    text-align: center;
}

.booking {
    float: left;
    width: 40px;
    margin-top: -.5em;
    margin-left: -1.3em;
}

.adventuremap {
    float: left;
    width: 35px;
    margin-top: -.5em;
    margin-left: -1.3em;
    margin-right: .5em;
}

.checklist {
    float: left;
    width: 35px;
    margin-top: -.9em;
    margin-left: -1.3em;
    margin-right: .5em;
}

.includes {
    float: left;
    width: 35px;
    margin-top: -.9em;
    margin-left: -1.3em;
    margin-right: .5em;
}

.firstaid {
    float: left;
    width: 35px;
    margin-top: .1em;
    margin-left: -1.3em;
    margin-right: .5em;
}

.lifesaver {
    float: left;
    width: 35px;
    margin-top: -.4em;
    margin-left: -1.3em;
    margin-right: .5em;
}

h3 {
    color: #F05400;
    font-family: Georgia, Times, serif;
    font-size: 18px;
    margin-bottom: 5px;
}

.continuedfaq {
    width: 90%;
    flex: 1 0 15em;
    margin: 1.3em;
}

.faq {
    margin-left: 40px;
}

#coloradoimg {
    width: 100%;
    margin-bottom: -5px;
}

.middle-row-par {
    color: white;
}

#bottom-row {
    width: 90%;
    margin: auto;
    text-align: center;
    align-items: center;
}

footer {
    max-height: 50px;
    display: flex;
    background-color: dimgrey;
    justify-content: space-between;
}

#pfooter {
    color: white;
    line-height: 15px;
    margin-top: 18px;
}

#socialicons {
    display: flex;
    position: relative;
}

#facebook img,
#youtube img,
#instagram img {
    width: 40px;
    padding: 5px;
}